body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6em;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 5px; 
    height: auto; 
}

h1, h2 {
    color: #333;
    line-height: 1.2em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.0em;
}

ul {
    list-style: none;
    padding: 0;
    text-align: left;
    width: 50%;
}

ul li {
    background: #e8e8e8;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: 2px 2px 8px 0px rgba(0,0,0,0.1);
}
