body {
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 100px;
    font-family: 'Noto Sans', sans-serif;
    
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #e5e5f7;
    opacity: 0.1;
    background-image:  linear-gradient(#00a9ff 8px, transparent 8px), linear-gradient(90deg, #00a9ff 8px, transparent 8px), linear-gradient(#00a9ff 4px, transparent 4px), linear-gradient(90deg, #00a9ff 4px, #e5e5f7 4px);
    background-size: 200px 200px, 200px 200px, 40px 40px, 40px 40px;
    background-position: -8px -8px, -8px -8px, -4px -4px, -4px -4px;

}
.usfq-logo {
    width: 120px; 
    height: auto; 
    margin: 25px;
}

.block-diagram{
    width: 100%;
    height: auto;
}
.block-diagram-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%;
    height: auto;
}

.max-width {
    max-width: 100%;
    height: auto;
}

.threefifty-height{
    height: 350px;
}
.figure-anotation{
    color: rgb(0, 115, 255);
    font-style: italic;
}


